# Visual Studio
/build/
*.suo
*.v12.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
*.dll
*.exe
*.exe.config
*.ini
**.csproj


 Nuget
/packages/
!packages/repositories.config
UpgradeLog.htm
