<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Observador" publicKeyToken="38227F9B3E8D1720" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.1.2302.39009" newVersion="1.1.2302.39009"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Interface - Negócio" publicKeyToken="9FA2A5F87A44FA22" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.2302.39010" newVersion="1.0.2302.39010"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Acesso.Comum" publicKeyToken="B8CD1DC88BA9A3BB" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.2302.39009" newVersion="1.0.2302.39009"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Entidades" publicKeyToken="8BF4859AF72F9324" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.2302.39009" newVersion="1.0.2302.39009"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
