<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="ModeloMercadorias" connectionString="metadata=res://*/ModeloMercadorias.csdl|res://*/ModeloMercadorias.ssdl|res://*/ModeloMercadorias.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=imj.dynalias.net;User Id=root;password=***REMOVED***;Persist Security Info=True;port=46033;Use Compression=True;database=imjweb&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ModeloMercadorias" connectionString="metadata=res://*/ModeloMercadorias.csdl|res://*/ModeloMercadorias.ssdl|res://*/ModeloMercadorias.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\sqlexpress;Integrated Security=True;Initial Catalog=IMJWeb;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ModeloMercadorias" connectionString="metadata=res://*/ModeloMercadorias.ssdl|res://*/ModeloMercadorias.csdl|res://*/ModeloMercadorias.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=www.imjoias.com.br;user id=imjoias;password=web$vinhad;persist security info=True;use compression=True;database=imjweb&quot;" providerName="System.Data.EntityClient"/>
    <add name="MySQLDireto" connectionString="database=imjweb;server=www.imjoias.com.br;password=web$vinhad;User Id=imjoias" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>