ul.abas
{
	position: relative;
}

ul.abas li div.aba-conteudo
{
	visibility: hidden;
	padding: 0 12px;
}

ul.abas li.selecionado .aba-conteudo
{
	visibility: visible;
}

ul.abas li
{
	display: inline;
	list-style-type: none;
}

ul.abas li .titulo
{
	display: inline;
	position: relative;
	cursor: pointer;
}

ul.abas li.selecionado .titulo
{
    display: block;
    z-index: 1;
}

ul.abas li .titulo .borda-esquerda
{
	background: transparent url(../Imagens/Abas/Impar/TituloEsquerda.png) no-repeat top left;
	width: 12px;
	height: 26px;
	float: left;
}

ul.abas li > .titulo span
{
	background-color: #bba932;
	line-height: 26px;
	float: left;
}

ul.abas li .titulo .borda-direita
{
	background: transparent url(../Imagens/Abas/Impar/TituloDireita.png) no-repeat top left;
	width: 20px;
	height: 26px;
	float: left;
}

ul.abas li .aba-conteudo
{
	position: absolute;
	left: 0px;
	right: 17px;
	top: 27px;
	padding-top: 12px;
	background-color: #bba932;
}

ul.abas li .aba-conteudo .borda-quina,
ul.abas li .aba-conteudo .borda-esquerda,
ul.abas li .aba-conteudo .borda-direita,
ul.abas li .aba-conteudo .borda-topo
{
    margin: 0;
}

ul.abas li .aba-conteudo .borda-quina
{
    /*
	background: transparent url(../Imagens/Abas/Impar/TopoDireita.png) no-repeat top left;
	position: absolute;
	right: -18px;
	width: 18px;
	height: 18px;
	top: -4px;
    */
    background: transparent url(../Imagens/Abas/Impar/TopoDireita.png) no-repeat bottom left;
    position: absolute;
    /* right: -16px; preenchimento */
    right: -4px;
    width: 4px;
    height: 4px;
    top: -4px;
}
/*
ul.abas li .aba-conteudo .borda-preenchimento
{
	background: #bba932;
	position: absolute;
	/*top: 14px;*/
/*	top: 0px;
	right: -12px;
	width: 12px;
	bottom: 0px;
}
*/
ul.abas li .aba-conteudo .borda-topo
{
	background: transparent url(../Imagens/Abas/Impar/Topo.png) repeat-x top left;
	position: absolute;
	left: 0px;
	/*right: 0px;*/
	/*right: -12px; preenchimento */
	right: 0px;
	height: 6px;
	top: -6px;
}

ul.abas li.selecionado .aba-conteudo .borda-esquerda
{
    background: transparent url(../Imagens/Abas/Impar/Esquerda.png) repeat-y top left;
    position: absolute;
    left: -4px;
    width: 4px;
    top: -4px;
    bottom: 0px;
}

ul.abas li.selecionado .aba-conteudo .borda-direita
{
    background: transparent url(../Imagens/Abas/Impar/Direita.png) repeat-y top right;
    position: absolute;
    /* right: -16px; preenchimento */
    right: -4px;
    width: 4px;
    top: 0px;
    bottom: 0px;
}



/* Alternado */
ul.abas li.alternado .aba-conteudo
{
	background-color: #818285;
/*	padding-left: 0px; preenchimento
	left: 12px;
	right: 5px;*/
}

ul.abas li.alternado .titulo .borda-esquerda
{
	background-image: url(../Imagens/Abas/Par/TituloEsquerda.png);
}

ul.abas li.alternado > .titulo span
{
	background-color: #818285;
}

ul.abas li.alternado .titulo .borda-direita
{
	background-image: url(../Imagens/Abas/Par/TituloDireita.png);
}

/*
ul.abas li.alternado .aba-conteudo .borda-quina
{
	/*background-image: url(../Imagens/Abas/Par/TopoEsquerda.png);
	left: -18px;*/
/*	right: -4px;
}*/
/*
ul.abas li.alternado .aba-conteudo .borda-preenchimento
{
	background: #818285;
	right: auto;
	left: -12px;
	width: 12px;
	bottom: 0px;
}    */

ul.abas li.alternado .aba-conteudo .borda-topo
{
	background-image: url(../Imagens/Abas/Par/Topo.png);
	/*left: 0px;*/
/*	left: -12px;
	right: 0px;*/
}
/*
ul.abas li.alternado .aba-conteudo .borda-esquerda
{
    left: -16px;
}

ul.abas li.alternado .aba-conteudo .borda-direita
{
    right: -4px;
}
*/

.semAbas .ocultoSemAbas
{
	display: none;
}

ul.semAbas li
{
	list-style-type: none;
	margin-top: 2em;
}

ul.semAbas li > div.titulo
{
	border-bottom: 1px dashed #BBA932;
	text-transform: uppercase;
	color: #BBA932;
}
