.formulario > div,
.formulario .referencias > p.grupo
{
    margin: .5em 0;
}

.formulario label 
{
    float: left;
    width: 30ex;
    text-align: right;
    margin-right: 1em;
}

.formulario .radio label
{
    float: none;
    width: auto;
    text-align: left;
    margin: inherit .3ex;
}

.formulario input[type=text]
{
}

.formulario textarea
{
    width: 70%;
    height: 15em;
}

.formulario .grupo
{
    color: Black;
    margin: 0;
}

.formulario .referencias .contato div
{
    display: inline;
}

.formulario .referencias .contato div label + input[type=text]
{
    width: 35%;
}

.formulario .referencias .contato div + div label
{
    float: none;
    width: 10%;
    margin-left: 2%;
}

.formulario .referencias .contato div + div label + input[type=text]
{
    width: 20%;
}

.formulario .botoes
{
    text-align: center;
    margin-top: 2em;
}

.formulario .botoes button
{
    background: transparent;
    cursor: pointer;
    text-decoration: underline;
    color: Blue;
}

.formulario.pj
{
    padding-top: 2em !important;
}