#cabecalho
{
	position: fixed;
	height: 96px;
	top: 0px;
	left: 0px;
	right: 0px;
	color: rgb(187, 169, 50);
	z-index: 10;
}

#cabecalho #cabecalhoEsquerda
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 21px;
	height: 96px;
	background: transparent url(../Imagens-800x600/Cabecalho/BordaEsquerda.png) repeat-x fixed top left;
}

#cabecalho #cabecalhoCentro
{
	position: absolute;
	top: 0px;
	left: 21px;
	right: 21px;
	height: 96px;
	background: transparent url(../Imagens-800x600/Cabecalho/Preenchimento.png) repeat-x scroll top left;
}	

#cabecalho #cabecalhoConteudo
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 77px;
	background: transparent url(../Imagens-800x600/Cabecalho/Cabecalho.png) no-repeat scroll top left;
}

#cabecalho #cabecalhoDireita
{
	position: absolute;
	width: 21px;
	height: 96px;
	top: 0px;
	right: 0px;
	background: transparent url(../Imagens-800x600/Cabecalho/BordaDireita.png) no-repeat scroll top left;
}

#cabecalho #marca
{
	position: absolute;
	top: 6px;
	left: 56px;
	right: 0px;
	bottom: 0px;
	white-space: nowrap;
	overflow: hidden;
}

#cabecalho #marca *
{
	vertical-align: middle;
}

#cabecalho #marca #logotipo
{
	outline: none;
}

#cabecalho #marca #logotipo IMG
{
	width: 60px;
	height: 60px;
	border: none;
}

#cabecalho #marca #nome 
{
	margin-left: 1ex;
	display: inline;
	font-family: Times New Roman, Roman, Helvetica;
	font-size: 29px;
	font-variant: normal;
	font-style: italic;
	line-height: 60px;
}

#cabecalho #endereco
{
	font-size: 10px;
	font-family: Arial, Sans-Serif, Verdana;
	position: absolute;
	bottom: 22px;
	right: 22px;
}

#login
{
	position: absolute;
	top: 77px;
	right: 43px;
	z-index: 11;
}

#login,
#login input
{
	color: Black;
	font-size: 10px;
	font-family: Segoe UI, Tahoma, Arial, Sans-Serif, Verdana;
}

#loginEsquerda
{
	background: transparent url(../Imagens/Cabecalho/BarraEsquerdaUsuario.png) no-repeat scroll top left;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 25px;
	width: 11px;
}

#loginCentro
{
	background: #bba932;
	position: relative;
	top: 0px;
	left: 11px;
	right: 11px;
	height: 25px;
	z-index: 0;
	vertical-align: middle;
	margin-right: 22px;
	line-height: 25px;
	*line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	padding-right: 7ex;
	min-width: 340px;
}

#loginDireita
{
	background: transparent url(../Imagens/Cabecalho/BarraDireitaUsuario.png) no-repeat scroll top left;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 25px;
	width: 11px;
}

#login input[type=submit]
{
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	height: 23px;
	top: 0px;
	cursor: pointer;
}

#login input[type=text],
#login input[type=password]
{
	margin: 0.7ex 7px 0 0.7ex;
	border: 1px solid black;
}

#login .txtUsuario
{
	width: 30ex;
	text-transform: uppercase;
}

#login .txtSenha
{
	width: 20ex;
}

#login #bemvindo
{
	font-weight: bold;
	font-size: 9pt;
	font-family: Segoe UI, Arial, Sans-Serif;
}
