a,
div,
table,
tr,
td,
th,
body,
ul,
li,
img
{
	margin: 0;
	padding: 0;
	border: none;
}

body
{
	font-family: Segoe UI, Arial, Helvetica;
	font-size: 9pt;
}

p
{
	color: rgb(147, 149, 152);
	margin: 0 0 1em;
	line-height: 1.5em;
}

h2
{
	display: none;
}

h3
{
	font-size: 9pt;
	font-weight: normal;
	text-transform: uppercase;
	color: rgb(147, 149, 152);
	line-height: 1.5em;
}

input[type=text],
textarea,
input[type=password]
{
    border: 1px solid black;
    margin-bottom: 3px;
}

fieldset
{
	border: solid 1px rgb(187,169,50);
	padding: 1ex;
}

fieldset legend
{
	color: rgb(187,169,50);
	font-weight: bold;
}

fieldset p
{
	margin-bottom: 0;
}

td, th
{
	padding: .5ex;
	border: solid 1px #6b696b;
}

dt:after
{
	content: ":";
}

dt
{
	font-weight: bold;
}

dd
{
	margin-left: 2em;
	margin-bottom: 1em;
}

.nomeUsuario
{
	text-transform: capitalize;
}
