#rodape 
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 10pt;
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 3em;
	width: 100%;
	color: rgb(187, 169, 50);
	line-height: 3em;
}

#rodapeEsquerda
{
	background: transparent url(../Imagens/Rodape/BarraEsquerda.gif) no-repeat top left;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 11px;
	height: 100%;
}

#rodapeCentro
{
	background-color: #100e0f;
	position: absolute;
	left: 11px;
	right: 11px;
	top: 0px;
	height: 100%;
}

#rodapeDireita
{
	background: transparent url(../Imagens/Rodape/BarraDireita.gif) no-repeat top right;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 11px;
	height: 100%;
}

#rodape #menu
{
	position: relative;
	text-align: center;
	width: 96%;
	margin: auto;
}

#rodape #menu li
{
	position: relative;
	display: block;
	width: 16%;
	float: left;
	z-index: 3;
}

#menu a 
{
	text-decoration: none;
	color: rgb(187, 169, 50);
}

#menu a:visited
{
	color: rgb(187, 169, 50);
}

#menu a[disabled]
{
	color: #5c570a;
	cursor: default;
}

#menu .linkDesligado
{
	color: #5c570a;
	cursor: default;
}

div.ahover
{
	position: absolute;
	background: #333333;
	opacity: .3;
	filter: alpha(opacity=30);
	z-index: 0 !important;
}
