#rodapeProcura
{
    font-family: Segoe Condensed, Segoe UI, Tahoma, Arial, Helvetica;
    font-size: 7pt;
}

#procuraCentro
{
    font-family: Segoe Condensed, Segoe UI, Tahoma, Arial, Helvetica;
    font-size: 7pt;
}

#procuraCentro input 
{
    font-family: Segoe Condensed, Segoe UI, Tahoma, Arial, Helvetica;
    font-size: 7pt;
    width: 15ex;
}
