body
{
	font-size: 12px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	background-color: white;
	border-bottom-style: none;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	overflow: hidden;
	font-family: Sans-Serif;
}

A
{
	color: blue;
	text-decoration: underline;
}

A:hover
{
	font-weight: bolder;
	color: blue;
	text-decoration: underline;
}

.topo
{
	position: absolute;
	top: 0px;
	left: 228px;
	height: 93px;
	text-align: left;
	font-weight: bolder;
	color: black;
	font-style: normal;
	font-family: Sans-Serif;
	background-color: white;
	font-variant: normal;
}

.fundo
{
}

.topoBotao
{
	WIDTH: 88px;
	TEXT-ALIGN: center;
}

.conteudo
{
	position: absolute;
}

.titulo
{
	border-right: #cc9966 1px solid;
	border-top: #cc9966 1px solid;
	font-weight: bold;
	font-size: large;
	border-left: #cc9966 1px solid;
	border-bottom: #cc9966 1px solid;
	font-family: Sans-Serif;
	background-color: #ffffcc;
}

.subtitulo
{
	border-right: #cc9966 1px solid;
	border-top: #cc9966 1px solid;
	font-weight: normal;
	font-size: medium;
	border-left: #cc9966 1px solid;
	color: #ffffcc;
	border-bottom: #cc9966 1px solid;
	font-style: italic;
	font-family: Verdana;
	background-color: #990000;
}

.caixaMenu
{
	border-right: black 1px solid;
	border-top: black 1px solid;
	margin: 5px;
	padding-top: 25px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-left: black 1px solid;
	width: 160px;
	cursor: default;
	border-bottom: black 1px solid;
}

.tituloMenu
{
	font-weight: bolder;
	font-size: 18px;
	left: 6px;
	width: 158px;
	font-family: Sans-Serif;
	position: absolute;
	top: 6px;
	height: 20px;
	background-color: goldenrod;
	text-align: center;
}

.menuDireita
{
	border-right: royalblue 1px solid;
	border-top: royalblue 1px solid;
	border-left: royalblue 1px solid;
	border-bottom: royalblue 1px solid;
	width: 210px;
	height: 57px;
	color: #3399ff;
	font-family: Verdana, Sans-Serif;
	background-color: white;
	text-decoration: none;
	cursor: hand;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.menuDireitaIcone
{
	width: 38px;
	height: 57px;
}

.menuDireitaTitulo
{
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
}

A.menuDireitaTitulo
{
	color: #3399ff;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
}

A:hover.menuDireitaTitulo
{
	color: #3399ff;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
}

.menuDireitaDescricao
{
	font-size: 11px;
	font-family: Sans-Serif;
	text-decoration: none;
}

A.menuDireitaDescricao
{
	font-size: 11px;
	font-family: Sans-Serif;
	color: #3399ff;
	text-decoration: none;
}

A:hover.menuDireitaDescricao
{
	font-size: 11px;
	font-family: Sans-Serif;
	font-weight: normal;
	color: #3399ff;
	text-decoration: none;
}

TABLE.decorado
{
	background-color: White;
	border-color: #CC9966;
	border-width: 1px;
	border-style: None;
	border-collapse: collapse;
}

TR.decorado
{
	color: #330099;
	background-color: White;
}

TR.titulo
{
	color: #FFFFCC;
	background-color: #990000;
	font-weight:bold;
}
